.tendencias-container {
    padding: 4rem 5rem;
}

.tendencias-title {
    color: #2A3037;
    padding-bottom: 1.5rem;
}

.tendencias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.tendencias-card {
    border-radius: 0.5rem;
    background-color: var(--clr-primary);
    box-shadow: 0px 8px 19px 0px #00000029;
}

.tendencias-card > img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.text-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}