.tendencias-container {
    padding: 4rem 8rem;
}

.tendencias-title {
    color: #2A3037;
    padding-bottom: 1.5rem;
}

.tendencias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    justify-content: space-between;
    justify-items: stretch;
}

.tendencias-card {
    border-radius: 0.5rem;
    background-color: var(--clr-primary);
    box-shadow: 0px 8px 19px 0px #00000029;
}

.img-container {
    position: relative;
}

.img-container > img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.text-container {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text-container > p {
    color: #7A838D;
    font-size: 0.85rem;
}

.nuevo-tag {
    position: absolute;
    top: 92%;
    left: 2rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
    background-color: var(--clr-secondary);
}

@media screen and (max-width: 700px) {
    .tendencias-container {
        padding: 4rem 2rem;
    }

    .tendencias-grid {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .text-container {
        padding: 2.5rem 2rem;
    }
}