:root {
    --clr-primary: #FFFFFF;
    --clr-secondary: #FA6980;
    --clr-accent: #EBEBEB;
    --text-uppercase: uppercase;
    --ff-base: 'Montserrat', sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;
}

.uppercase {
    text-transform: var(--text-uppercase);
}

.primary-color {
    color: var(--clr-primary);
}

.secondary-color {
    color: var(--clr-secondary);
}

.bold {
    font-weight: var(--fw-bold);
}

.regular {
    font-weight: var(--fw-regular);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: var(--ff-base);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

.home-background {
    background: linear-gradient(to bottom, var(--clr-accent) 50%, var(--clr-primary) 50%);
}